@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background:	#D3D3D3;
}

h1 {
    padding: 40px;
    font-size: clamp(8px, 5vw, 2.5rem);
    color: #fff;
}

.container {
    flex-wrap: wrap;
    padding: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

section .card .image {
    height: 340px;
    width: 340px;
    border-radius: 50%;
    padding: 3px;
}

section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #808080;
}

.card {
    background: #fff;
    border-radius: 20px;
    padding: 15px 20px 15px;
    position: relative;
}

.card .card-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
